*~
.#*
*#

*.patch
*.orig
*.rej

*.o
*.lo
*.la
.dirstamp
.deps/
.libs/
Makefile
Makefile.in
/aclocal.m4
/autom4te.cache
/build-aux
/config.*
/configure
/libtool
/stamp-h1

*.gcno
*.gcda
*.gcov

core.*

/libi8x-[0-9]*
/libi8x.spec
